html,
body {
    background-image: url("homepage/wooden-texture-background-real-old-wood-wall-weathered-wood_120872-10410.jpg");
    background-size: cover; 
    background-attachment: fixed;
}

.room-container {
    width: 100%;
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    aspect-ratio: 16 / 9;
}

.imgtxt img {
    width: 100%;
    height: auto;
    display: block;
}

.shelf-wrapper {
    background-image: url("homepage/shelf-removebg-preview.png");
    position: absolute;
    top: 0%;
    left: 45%;
    width: 18%;
    aspect-ratio: 1 / 1;
}

.table-wrapper{
    background-image: url("homepage/Untitled_design__4_-removebg-preview.png");
    position: absolute;
    width: 40%;
    height: 30%;
    top: 65%;
    left: 25%;
}

.typewritter{
    position: absolute;
    width: 25%;
    top: -60%;
    left: 20%;
}

.notebook{
    position: absolute;
    width: 25%;
    top: -30%;
    left: 50%;
}

.board {
    position: absolute;
    top: 0%;
    width: 25%;
    height: auto;
    display: block;
}

.room-item {
    position: absolute;
}

.insects {
    width: 20%;
    top: 0%;
    left: 25%;
}

.backdoor {
    position: absolute;
    width: 15%;
    top: 40%;
    left: 75%;
}

.outside-door {
    position: absolute;
    width: 15%;
    top: 40%;
    left: 0%;
}

.bookslink {
    width: 12%;
    top: 20%;
    left: 15%;
}

.claylink {
    width: 12%;
    top: 20%;
    left: 70%;
}

.fandomlink {
    width: 12%;
    top: 40%;
    left: 30%;
}

.gamelink {
    width: 12%;
    top: 40%;
    left: 60%;
}

.alienlink {
    width: 12%;
    top: 70%;
    left: 50%;
}

.imgtxt {
    width: fit-content;
    height: fit-content;
    display: inline-block;
}

.imgtxt span {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 2.5rem;
    color: #FFF;
    filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px 1px 0 black) drop-shadow(1px -1px 0 black) drop-shadow(-1px -1px 0 black);
}

.imgtxt:hover span,
.imgtxt:focus span {
    opacity: 1;
}

.imgtxt:hover img,
.imgtxt:focus img {
    filter: grayscale(1);
    transform: rotate(5deg);
}